<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5KPF2VZNMP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5KPF2VZNMP');
</script>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="/milkovitsengineering/assets/images/cropped-M-Favicon.png">

<!-- end custom head snippets -->
